<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>AccessRecords</h1>

        <table border="6px">
            <tr>
                <th>pk</th>
                <th>name</th>
                <th>date</th>
                <th>author</th>
        
            </tr>
        {% for ao in accessrecord %}
            <tr>
                <td>{{ao.pk}}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
        {% endfor %}
            </tr>
        </table>
    </center>
</body>
</html>